$itsm-compact-mode: false !default;
$itsm-spacer-regular: 1rem !default;
$itsm-spacer-compact: 0.5rem !default;

$itsm-spacer: if($itsm-compact-mode, $itsm-spacer-compact, $itsm-spacer-regular);

$spacer: $itsm-spacer;
$spacer-x: $spacer;
$spacer-y: $spacer;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3
);
