//STYLE OVERRIDE
@import "custom";

// PRECOMPILED VARIABLES
$primary-color:             #0b0624 !default;
$secondary-color:           #0e2045 !default;


$primary-text-color:        #ffffff !default;
$secondary-text-color:      black !default;

$header-background-color:   $primary-color !default;
$header-text-color:         $primary-text-color !default;

$nav-background-color:      $secondary-color !default;
$nav-text-color:            $primary-text-color !default;
$nav-submenu-color:         $primary-color !default;
$nav-hover-color:           #ffffff !default;

$favorite-color:            #ffff00 !default;

$logo-file: url("../pics/fd_logo.png") !default;
$logo-file-dark: url("../pics/fd_logo_dark.png") !default;

//BOOSTRAP OVERRIDE
$primary: $primary-color;
$secondary: $secondary-color;

$danger:    #ff5454;
$warning:   #ffd34e;
$info:      #5998ff;

$light:    #f8f9fa;
$dark:     #343a40;

@import "../vendor/twbs/bootstrap/scss/bootstrap.scss";
