//STYLE OVERRIDE
@import "custom";

// PRECOMPILED VARIABLES
$primary-color:             #7b081d !default;
$secondary-color:           #ae0c2a !default;


$primary-text-color:        #ffffff !default;
$secondary-text-color:      black !default;

$header-background-color:   $primary-color !default;
$header-text-color:         $primary-text-color !default;

$nav-background-color:      $secondary-color !default;
$nav-text-color:            $primary-text-color !default;
$nav-submenu-color:         $primary-color !default;
$nav-hover-color:           #ffffff !default;

$favorite-color:            #ffff00 !default;

$logo-file: url("../pics/fd_logo.png") !default;

//BOOSTRAP OVERRIDE
$primary: $primary-color;
$secondary: $secondary-color;

$danger:    #dc3545;
$warning:   #ffc107;
$info:      #1b1d1d;

$light:    #f8f9fa;
$dark:     #343a40;

@import "../vendor/twbs/bootstrap/scss/bootstrap.scss";
