body{
    --primary-color: #7b081d;
    --secondary-color: rgb(17, 0, 255);
    --header-color: rgb(255, 255, 255);
    --secondary-color: rgb(255, 255, 255);
    --text-color: rgb(255, 255, 255);
    --header-color: var(--primary-color);
    --menu-text-color: rgb(255, 255, 255);
    --menu-icon-color: rgb(255, 255, 255);
    --menu-background-color: var(--primary-color);
    --submenu-text-color: rgb(255, 255, 255);
    --submenu-icon-color: rgb(255, 255, 255);
    --submenu-background-color: var(--secondary-color);
    --favorite-color: yellow;
    --menu-hover-color: rgba(255, 255, 255, 0.2);
    --bottom-menu-background-color : #49161f;
    --bottom-menu-icon-color: var(--menu-icon-color);
    --logo-image: url("../pics/fd_logo.png");
}