body {
    --primary-color: #7b081d;
    --secondary-color: rgb(17, 0, 255);
    --header-color: rgb(255, 255, 255);
    --secondary-color: rgb(255, 255, 255);
    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color: black;
    --header-color: var(--primary-color);
    --menu-text-color: rgb(255, 255, 255);
    --menu-icon-color: rgb(255, 255, 255);
    --menu-background-color: var(--primary-color);
    --submenu-text-color: rgb(255, 255, 255);
    --submenu-icon-color: rgb(255, 255, 255);
    --submenu-background-color: var(--secondary-color);
    --favorite-color: yellow;
    --menu-hover-color: rgba(255, 255, 255, 0.2);
    --bottom-menu-background-color : rgba(58, 1, 12, 0.39);
    --bottom-menu-icon-color: var(--menu-icon-color);
    --logo-image: url("../pics/fd_logo.png");
    --bottom-menu-hover-color: #ccc;
    --breadcrumb-current-color: #F5B7B1;
    --menu-open-width: 11rem;
    --menu-close-width: 5em;
    --menu-transition-time: 0.3s;
    --preference-icon-color: white;
    --menu-count: 10; //define in html
    --bubble_pos_x: 50%;
    --bubble_pos_y: 50%;

    --table-border-radius: 0;
    height: 100vh;
}
#page{
    // display: none;
}
.main-container * {
    box-sizing: content-box;
}

p {
    margin: 0;
}
div#searchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    line-height: 2.5em;
    font-size: 1em;
    border-radius: 20px;
    background-color: white;
    padding: 2px 10px;
    
    input[type="search"] {
        height: 90%;
        outline: 0;
        border: 0;
    }

    .fa-search {
    background-color: transparent;
    color: var(--primary-color);
    padding: 10px;
    border-radius: 50%;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    }

    &:hover .fa-search {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    }
}

header {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    background-color: var(--header-color);
}

#c_logo {
    left: calc(7.5em - 75px);
    position: absolute;
    width: 200px;
    height: 50px;
    background: var(--logo-image);
    background-repeat: no-repeat;
    background-size: auto 50px;
    transition: width var(--menu-transition-time) ease;

    .menu-close & {
        width: 50px;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
}

#main-test {
    position: relative;
    top: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    --menu-left-bool: 1;

    &.menu-right{
        flex-direction: row-reverse;
    }

    &.menu-top{
        flex-direction: column;
    }
}
.main-container {
    position: relative;
    width: calc(100% - var(--menu-open-width));
    margin-left: var(--menu-open-width);
    transition: margin var(--menu-transition-time) ease;

    .menu-right & {
        margin-left: 0 !important;
        margin-right: var(--menu-open-width);

    }
    .menu-top & {
        width: 100%;
        margin: 0;
    }
    div.menu-close + & {
        width: calc(100% - var(--menu-close-width));
        margin-left: var(--menu-close-width);
        

        .menu-right & {
            margin-right: var(--menu-close-width);
        }
    }
}
 
.rightz {
    position: absolute;
    right: 5px;
}
#menu-border{
    position: absolute;
    right: 0;
    bottom: 100px;
    height: 80%;
    width: 10px;
    translate: 50% 0;
    cursor: e-resize;
    z-index: 10;

    .menu-right & {
        left: 0;
        right: auto;
        translate: -80% 0;
    }

    .menu-top & {
        display: none;
    }
}
.menu-bubble, .menu-top{
    .menu-parameters {
        position: fixed;
        top: 65px;
        right: 6px;
        bottom: auto;
        color: black;
        
        // >i {
        //     position: static !important;
        //     color: black !important;
        // }
    }
}
.menu-parameters{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 2em;
    z-index: 4;
    position: absolute;
    bottom: 60px;
    right: 2px;
    .menu-bubble &, .menu-top &{
    position: fixed;
    right: 6px;
    bottom: auto;
    color: black;
    }
    .menu-top & {
        top: 65px;
    }

    .menu-bubble & {
        top: 30px;
    }




    &.show >i{
        rotate: 180deg;
    }
    
    >i {
        font-size: 1.5em;
        // rotate: 180deg;
    }

    .menu-right & {
        right: auto;
        left: 2px;

    }
    .menu-top &, .menu-bubble & {
        >i { 
            rotate: 90deg;
        }

        &.show >i{
            rotate: 270deg;
        }
    }   

    .menu-close & {
        display: none;
    }
    i { 
        position: relative !important;
    }
    .menu-positions {
        background-color: var(--menu-background-color);
        padding: 7px 0;
        padding-right: 0;
        border-radius: 0 30px 30px 0;
        font-size: 1em;
        z-index: 2;
        position: absolute;
        --_offset: -1.09em;
        right: var(--_offset);
        // top: -1em;
        // left: 2em;
        // bottom: -1em;
        // width: auto;
        // overflow: hidden;
        display: none;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        // width: 100%;

        .menu-right & {
            border-radius: 30px 0 0 30px;
            right: auto;
            left: var(--_offset);
        }

        .menu-top &, .menu-bubble & {
            right: -6px;
            left: auto;
            top: 1.1em;
            border-radius: 0 0 30px 30px;
        }

        &.show {

            // --_r : 30px;
            // @for $i from 1 through 4 {
            //     & i:nth-child(#{$i}) {
            //         translate: calc(sin(90deg* #{$i}) * var(--_r)) calc(cos(90deg* #{$i}) * var(--_r));
            //     }
            // }
            display: flex;

        }

        i {
            // left: 5px;
            // top: -10px;
            // position: absolute !important;
            cursor: pointer;

        }
    }

    i {
        cursor: pointer;
    }
}

#menu-button {
    z-index: 7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: absolute;
    right: -1.2rem;
    cursor: pointer;
    background: linear-gradient(90deg, transparent 50%, var(--menu-background-color) 50%);
    // background-color: var(--menu-background-color);
    --_size: 1em;
    height: var(--_size);
    width:  var(--_size);
    border-radius: 50%;
    
    .menu-right & {
        right: auto;
        left: -1.2rem;
        background: linear-gradient(90deg, var(--menu-background-color) 50%, transparent 50%);
    }

    .menu-top & {
        display: none;
    }

    i {
        transform-origin: 75% 50%;
        position: relative;
        left: 5px;
        transition: transform .3s ease;
        
        .menu-right & {
            left: auto;
            right: 5px;
            rotate: 180deg;
        }

        .menu-close & {
            transform: rotate(180deg);
        }
        
    }
}

#menu-favorite-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    font-size: 100%;
    cursor: pointer;
    .menu-close & {
        display: none;
    }
    i {
        color: var(--favorite-color);
    }
    
}
#bubble {
    display: none;
    position: fixed;
    font-size: 1.6em;
    border-radius: 30px;
    width: 1.6em;
    height: 1.6em;
    justify-content: center;
    align-items: center;
    top: var(--bubble_pos_y);
    left: var(--bubble_pos_x);
    --_padding: 10px;
    --_color: white!important;
    --_border-radius: 50%;
    --_close: -38%;
    --_background-color: var(--primary-color);
    --_uncenter: 3px;
    >i:first-child {
        right: var(--_close);
        position: relative !important;
        display: inline-block !important;
        cursor: pointer;
        padding: var(--_padding);
        border-radius: var(--_border-radius);
        color: var(--_color);
        background: linear-gradient(90deg,var(--_background-color) 75%, transparent 75%);
    
        &::before{
            position: relative;
            right: var(--_uncenter);
        }
    }

    >i:nth-child(2) {
        color: yellow;
        left: var(--_close);
        position: relative !important;
        padding: var(--_padding);
        border-radius: var(--_border-radius);
        background: linear-gradient(-90deg, var(--_background-color) 75%, transparent 75%);
        cursor: pointer;

        &::before{
            position: relative;
            left: var(--_uncenter);
        }
    }
}

.menu-bubble {
    #bubble {
        display: flex !important;
    }

    #menu-button {
        display: none;
    }

    .sub-menu ul li a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
    }
    .bubble-icon {
        --_padding: 18px;
        --_color: white !important;
        padding: var(--_padding);
        color: var(--_color);
        background: linear-gradient(90deg, rgba(255,0,0) 0%, rgba(255,255,0) 20%, rgba(0,255,0) 40%, rgba(0,255,255) 60%, rgba(0,0,255) 80%, rgba(255,0,255) 100%);
        background-position-x: 10%;
        background-size: 100000%;
        border-radius: 30px;
    }
    
    .submenu-icon {
        padding: 18px;
        color: white !important;
        background: linear-gradient(90deg, rgba(123,8,29,1) 0%, rgba(118,118,119,1) 50%, rgba(123,8,29,1) 100%);
                background-position-x: 10%;
        background-size: 10000%;
        border-radius: 30px;
        position: relative;
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }
    }
    // li>div>.bubble-icon:hover ~ .bubble-icon{
    //         display: none;
    // }
            // .submenu-icon & {
            //     display: none !important;
            // }
}
#menu {
    position: fixed;
    height: calc(100vh - 3.5rem);
    background-color: var(--menu-background-color);
    width: var(--menu-open-width);
    transition: width var(--menu-transition-time) ease; // in js resizeWidth
    z-index: 1000;
    overflow: visible;
    &.menu-close {
        width: var(--menu-close-width);
    }

    .menu-top & {
        position: fixed;
        width: 100%;
        height: auto;
    }

    .menu-bubble &{

        width: 0;

        // :not(.submenu-icon, .menu-content, li, .menu-content>li>div, .menu-content>li>div>i, .menu-list, .nav-side-menu), #menu-button{
        //     display: none;
        // }
        .menu-content{
            i {
                position: fixed;
                z-index: 9999;
            }

            li i{
                display: none;
            }


            li>ul{
                display: flex !important;

                >li{
                    display: flex !important;

                    a{
                        display: flex !important;
                
                    }
                }
            }
        }
    }
}
 
.nav-side-menu {
    z-index: 3;
    height: calc(100% - 90px);
    position: relative;
    top: 0;
    color: var(--menu-text-color);
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 1.5em;
    line-height: 1;
    overflow-y: hidden;
    // width: 100%;
    
    #menu-favorite.hidden{
        display: none;
    }

    li>a, ul>a {
        display: flex;
        align-items: center;
        color: var(--primary-text-color);
        width: 100%;
        padding: 5px;
        padding-right: calc(5px + 1em); //take into account star-icon {position: absolute};
        font-size: 1em !important;
        overflow: hidden;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: inherit;
        font-weight: 500;

        &:not(:last-of-type){
            margin-bottom: 2px;
        }

        &.active, &:hover{
            background-color: var(--menu-hover-color);
        }

        .menu-close & {
            :not(.submenu-icon, .bubble-icon){
                display: none;
            }
        }
        
        i.submenu-icon, i.bubble-icon {
            --_size: 1.5em;
            width: var(--_size);
            height: var(--_size);
            margin-right: 5px;
            // line-height: 1;
            color: var(--menu-icon-color);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }
    }


    .menu-top &{
        flex-direction: column;
        overflow-y: visible;
    }
    
    .menu-right & {
        justify-content: end;
    }
    .menu-close & {
        height: calc(100% - 120px);
        li p {
            margin: 0;
            display: none;
        }
    }

    .favorite-mode & {

        i.star-icon::before {
            visibility: visible;
            font-weight: 400;
        }
    }

    .menu-list {
        overflow-x: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE 10+ */
        width: 100%;
        &::-webkit-scrollbar {
            background: transparent; /* Chrome/Safari/Webkit */
            width: 0px;
        }


        .menu-top & {
            overflow: visible;
        }
    }

    .menu-content {
        padding: 0 7px;
        display: flex;
        flex-direction: column;
        align-items: normal;
        user-select: none;
        
        .menu-top &{
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        > li {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            list-style: none;
            &:not(:first-of-type){
                margin-top: 10px;
            }

            .menu-top & {
                margin-left: 5px;
                margin-top: 0;
                margin-bottom: 2px;
                width: calc(100%/var(--menu-count));
                align-items: center;

                &:first-child{
                    margin-left: 5px;
                }

                >a{
                    justify-content: center;
                }

                >ul{
                    min-width: 15em;
                }
            }

            .menu-close & {
                justify-content: center;
                align-items: center;
                padding: 5px;
                margin: 0;
            }
            
            
            > div {
                // width: 100%;
                padding: 5px 10px;
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: end;
                text-align: left;
                cursor: pointer;
                border-radius: 5px;

                &.active, &:hover{
                    background-color: var(--menu-hover-color);
                }
            }
            
            i {
                // margin-right: 2px;
                // line-height: 1;
                // color: var(--menu-icon-color);
                // --_size: 0.7em;
                // width: var(--_size);
                // height: var(--_size);
                // display: flex;
                // justify-content: center;
                // align-items: center;

                .menu-close & {
                    margin-right: 0px;
                }
            }
        }

        ul.sub-menu{
            width: 100%;
            z-index: 100000;
            position: relative;
            top: 0;
            list-style: none;
            padding: 0px;
            margin: 0px;
            margin-top: 10px;
            // margin-left: 15px;
            padding: 5px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 0.7em;
            box-sizing: border-box;
            background-color: rgb(0, 0, 0, 0.3);

            .menu-top &{
                margin: 0;
                padding: 5px 2px; 
                top: 2.5em;
                position: absolute;
                background-color: color-mix(in srgb, rgb(0, 0, 0) 30%, var(--menu-background-color) 70%);
            }

            .menu-close & {
                margin-left: 0;
            }

            li {
                // width: 100%;
                padding: 5px;
                padding-right: 0;
                text-align: left;
                border: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 5px;
                // pointer-events: auto;
                font-size: 12px;
                
                .menu-close & {
                    padding: 1px 2px;
                    margin: 0 !important;
                }

                &:not(:last-of-type){
                    margin-bottom: 5px;
                }
                &.active, &:hover{
                    background-color: var(--menu-hover-color);
                }
                
                .menu-top &{
                    padding: 5px 2px;
                }
                a {
                    display: flex;  
                    align-items: center;
                    // width: 100%;
                    font-size: inherit !important;
                    color: var(--submenu-text-color);
                    text-align: left;

                    .menu-close & {
                        justify-content: center;
                    }
                    i {
                        margin-right: 3px;
                        color: var(--submenu-icon-color);
                        
                        .menu-close & {
                            margin-right: 0px;
                        }
                    }
                }
            }

        }
    }


    i.star-icon{
        --_size: 1.5em;
        pointer-events: none;
        position: absolute;
        right: 0;
        margin-right: 5px;
        width: var(--_size);
        height: var(--_size);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        cursor: url("../ng/pics/star.png"), auto;
        &::before {
            color: var(--favorite-color);
            display: none;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f005";
            line-height: 1;
        }
        .favorite-mode & { 
            pointer-events: auto;
            &::before {
                display: inline-block;
            }
        }
        .menu-close & {
            display: none;
        }

    //    .section-favorite &::before {
    //     visibility: visible;
    //     font-weight: 900;
    //    }

    //    #submenu-favorite &::before {
    //     visibility: hidden;
    //    }
    }

    #submenu-favorite { 

        >p{
            display: inline;
            font-size: 1rem;

            &:not(:only-child) {
                display: none;
            }
        
        }

    }
}


.nav-side-menu .section-favorite  i.star-icon::before {
    font-weight: 900;
}

#submenu-favorite i.star-icon::before {
    display: none;
}
.favorite-mode #submenu-favorite i.star-icon {
    &::before{
        display: inline-block;
        font-weight: 900;
    }
    // pointer-events: auto;
}

/* bold odd test choice menu */
.nav-side-menu ul ul a li p {
    font-weight: 400;
}
 
// .nav-side-menu p:hover {
//     background-color: transparent;
// }


.menu-bottom{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
}

#c_preference {
    height: fit-content;
    margin: 0;
    font-size: 1.6em;
    .menu-top &, .menu-bubble & {
        position: fixed;
        right: 0;
        top: 0;

        ul {
        border-bottom-left-radius: 20px;
        }
    }
    
    .menu-close & {
        #main-test:not(.menu-top, .menu-bubble) &{
             >ul>:not(#menu-options){
                display: none;
            }
        }
    }
    .in-dropdown{
        background-color: transparent;


        >a {
            color: black !important;
        }
    }
    >ul {
        background-color: var(--bottom-menu-background-color);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;

        li{
            margin: 0;
            float: none;
        }
    }

    .dropdown-item{
        color: var(--secondary-text-color) !important;
        background-color: transparent !important;
    }

    a {
        font-size: inherit !important;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--secondary-text-color);
        cursor: pointer;
        &:hover {
            text-decoration: none !important;
        }

        i {
            color: var(--bottom-menu-icon-color);
        }
        &:hover i::before, &:hover span{
            color: var(--bottom-menu-hover-color) !important;
        }
    }   
    

    span {
        margin: 0;
    }
}

.divers {
    display: none;
    .menu-close & {
            :not(.menu-top, .menu-bubble) &{
            display: block;
        }
    }

    i {
        color: black;
    }
}

.in-dropdown{
    display: flex;
    justify-content: space-evenly;
    i {
        color: black !important;
    }
}

.copyright-message {
    margin-bottom: 5px;
    background-image: url("../pics/fd_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 30px;

    .menu-top &, .menu-bubble & {
        position: fixed;
        top: 2px;
        right: 100px;
        width: 150px;
    }

    .menu-close & {
        display: none;
    }
}
// .copyright-message a {
//     color: white;
// }
 
.menu-close .copyright-message {
    display: none;
}
/* .nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}
@media (max-width: 767px) {
    .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
    }
    .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
    display: block;
    }
} */
#c_ssmenu2 {
    margin-left: 70px;
    & ul li:nth-of-type(-1) {
        background-color: var(--breadcrumb-current-color);
        
        &::before{
            display: none;
        }

        &::after{
            display: none;
        }
    }

}
.breadcrumb_item {
    &::before{
        z-index: 1 !important;
    }

    &::after{
        z-index: 1 !important;
    }
}

.check-result {
    text-align: center;
}

.dropdown-menu {
    visibility: visible;
    opacity: 1;
    display: none;
    overflow-x: hidden !important;
    color: var(--primary-text-color);
}

.dropdown-menu.show {
    display: block;
}
 
.dropdown-menu {
    max-height: 50vh;
    overflow-x: hidden;
    padding-right: 9px;
}

.bs-searchbox .form-control {
    box-sizing: border-box;
}
div.chip {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 223, 176, 0.9) !important;
    color: #428859;
    width: fit-content;
    padding: 0 10px;
    border-radius: 30px;
}
div.chip.validated {
    background-color: rgba(150, 223, 176, 0.9) !important;
    color: #428859;
}
div.chip.optional {
    background-color: rgba(172, 83, 0, 0.9) !important;
    color: rgb(245, 59, 59);
}
div.chip.required {
    background-color: rgba(226, 97, 97, 0.9) !important;
    color: rgb(255, 0, 0);
}
.transparent {
    background-color: transparent !important;
    color: transparent !important;
    user-select: none;
}
div.chip>p {
    position: relative;
    padding: 10px;
}
.required2 {
    position: relative;
    padding: 10px 0;
}
.required-message {
    margin-top: 20px;
    padding: 10px 20px;
    position: relative;
    width: calc(200% - 18px);
    color: var(--primary-text-color);
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 5px 5px 20px 20px;
    text-wrap: balance;
}
.check-row {
    margin-bottom: 0px;
}

.fixed-table-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > div {
        width: max-content;
    }

    &::after {
        display: none !important;
    }

    .search {
        height: 2rem;
        border-radius: 0;
        
        input {
            height: 100%;
            border: 1px solid var(--primary-color) !important;
            border-radius: 3rem !important;
        }
    }
}