@font-face {
   font-family: Techna Sans;
   src: url(../fonts/TechnaSans-Regular.otf);
}

@font-face {
   font-family: Liberation Sans;
   src: url(../fonts/LiberationSans-Regular.ttf);
}

@font-face {
   font-family: Liberation Sans;
   src: url(../fonts/LiberationSans-Bold.ttf);
   font-weight: bold;
}

*{
   box-sizing: content-box;
}

body {
   --primary-color: #7b081d;
   --secondary-color: #545555;
   --third-color: #f2e0c2;
   --text-color: white;
   --bloc-border-size: 15px;
   --bloc-border-radius: 10px;
   background-color:var(--secondary-color);
   font-family: Liberation Sans;
   color:var(--text-color);
   font-size: 1.2rem;
}

#principal {
   text-align: center;
   margin: auto;
   padding: 70px 40px 40px 40px;
}

#bloc {
   position:relative;
   width:80%;
   min-height: 500px;
   max-width: 760px;
   padding: 30px 30px;
   margin:0 auto;
   text-align:left;
   background:var(--primary-color);
   border-radius: var(--bloc-border-radius);
}

#bloc::before{
   content: " ";
   position: absolute;
   z-index: -1;
   width: calc(100% + var(--bloc-border-size));
   height: calc(100% + var(--bloc-border-size));
   top: calc(-1 * var(--bloc-border-size)/2);
   left: calc(-1 * var(--bloc-border-size)/2);
   background-color: var(--text-color);
   border-radius: var(--bloc-border-radius);
}

#logo_bloc {
   position: absolute;
   width: 270px;
   height: 100px;
   top:-55px;
   left: 0px;
   border-radius: var(--bloc-border-radius);
   background: url(../pics/fd_logo.png)  no-repeat center;
   background-size: 250px;
   background-color: var(--primary-color);
}

#logo_bloc::before{
   content: "";
   position:absolute;
   z-index: -1;
   width: calc(100% + var(--bloc-border-size));
   height: calc(100% + var(--bloc-border-size));
   top: calc(-1 * var(--bloc-border-size)/2);
   left: calc(-1 * var(--bloc-border-size)/2);
   border-radius: var(--bloc-border-radius);
   background-color: var(--text-color);
}

h2 {
   margin-top: 10px;
   font-family: Techna Sans;
   text-align:center;
   color: var(--text-color)
}

h3 {
   font-family: Liberation Sans;
   font-weight: bold;
   text-align:center;
   color: var(--text-color);
}
input.form-control{
   width: inherit !important;
}
.btn{
   color: #000;
   --third-color: #f2e0c2;
   --darker-cream: #cec1a8;
   background-color: var(--third-color);
   border-color: var(--third-color);
}

.btn:hover{
   background-color: var(--darker-cream);
   border-color: var(--darker-cream);
}

.btn:active{
   background-color: var(--third-color) !important;
   border-color: var(--darker-cream) !important;

}

input[type=text], input[type=password]{
   width: 200px;
   height: 20px;
   border-radius: 5px;
   font-size: 1.2em;
   transition: outtline-style 1s ease;
   transition: outtline-width 1s ease;
   transition: outtline-color 1s ease;
}

input[type=text]:focus, input[type=password]:focus{
   outline-style: solid;
   outline-width: 2px;
   outline-color: var(--primary-color);
}

.buttons{
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
button{
   position: relative;
   min-width: 60px;
}

.submit{
   position: relative;
   border: solid;
   border-color: var(--third-color);
   display: flex;
   justify-content: center;
   align-items: center;
}
.submit>i{
   font-size: x-large;
   position: absolute;
   opacity: 0;
   color: rgb(0, 0, 0);
   transition: opacity .2s ease-in-out;
}

.submit:active, .submit:focus{
   color: transparent;
}
.submit:active>i, .submit:focus>i{
   opacity: 1;
}

.language>form{
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.language>form>button{
   margin-top: 20px;
   width: 50px;
}

label, input[type=text], input[type=password]{
   font-size: 1.5em;
   height: 2rem;
}

div.tab_check{
   height: 500px;
   font-size: 0.8em;
   overflow: auto;
   border-radius: 10px;
}
.fixed-table-toolbar{
   position: sticky;
   top: 0;
   z-index: 5;
   background-color: white;
}
.tab_check thead th{
   position: sticky;
   top: 0;
   z-index: 12;
}thead th{
   position: sticky;
   top: 0;
}

td>p{
   padding: 0;
}

.fa-check{
   color: green;
}

.fa-exclamation-triangle{
   color: #f08b3b;
}

.fa-times{
   color: red;
}

div>.text{
   background:rgba(81, 73, 73, 0.4);
   backdrop-filter: blur(50px);
   border: solid 2px black;
   border-radius: 10px;
   margin-bottom: 20px; 
}

.main{
   position: relative; 
   top: 20px;
   display: flex;
   flex-direction: column;
}

.dropdown-toggle{
   margin: solid;
   margin-right: 30px;
}
p {
   padding: 10px 20px 10px 20px;
   margin: 0;
}

fieldset {
   margin:40px;
   padding: 20px;
   background: #FFF;
   border: none;
   font-size: 12px;
   font-weight:200;
   position: relative;
   border-radius: 5px;
}

fieldset>legend {
   text-align: center;
   color: #000;
   font-weight: bold;
   position: relative;
   top: 5px;
   font-size: 1.2em;
}

fieldset label {
   text-align: right;
   margin: 10px 5px 0px 0px
}

.center {
   text-align:center;
}

.left {
   text-align:left;
}

.inline {
   display:inline;
}

a {
   color: #F5B7B1;
   font-weight: bold;
}

input {    border: 1px solid #ccc; }  .block {    display: inline-block;    width:300px;    color: #000; }