@font-face {
   font-family: Techna Sans;
   src: url(../fonts/TechnaSans-Regular.otf);
}

@font-face {
   font-family: Liberation Sans;
   src: url(../fonts/LiberationSans-Regular.ttf);
}

@font-face {
   font-family: Liberation Sans;
   src: url(../fonts/LiberationSans-Bold.ttf);
   font-weight: bold;
}


:root {
   --primary-color:             #0b0624;
   --secondary-color:           #0e2045;
   
   --primary-text-color:        rgb(255, 255, 255);
   --secondary-text-color:      black;
   
   --header-background-color:   var(--secondary-color);
   --header-text-color:         var(--primary-text-color);

   --progress-background-color: var(--primary-color);
   --progress-color:            var(--secondary-color);
}

body {
   background: var(--primary-color);
   color: var(--primary-text-color);
}

header, main {
   background: var(--header-background-color);
}

#license {
   max-height: 20rem;
   overflow-y: scroll;
   background-color: var(--primary-text-color);
   color: var(--secondary-text-color);
}

#logo {
   width: 40%;
   height: auto;
   margin-bottom: 1rem;
}

.progress {
   border-radius: 0;
}

#steps-indicator {
   z-index: 1;
}

.form-control {
   background-color: var(--primary-text-color) !important;
   color: var(--secondary-text-color);
}

ul {
   text-align: left;
   width: max-content;
   margin-left: auto;
   margin-right: auto;
}

.dropdown {
   max-width: 15rem;
   margin-left: auto;
   margin-right: auto;
}

.progress{
   margin-top: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 50px;
   width:100%;
   border-radius: 5px;
   position: relative;
   z-index: 0;
   background-color: transparent;
   padding-bottom: 20px;
   overflow: visible;
   --grey: rgb(219, 212, 212);
}
.line{
   margin-left: 2.5%;
   width: 95%;
   height: 10px;
   background: var(--primary-color);
   position: absolute;
   z-index: 1;
}
.line::after{
   content: "";
   position: absolute;
   z-index: 2;
   width: calc(var(--step) / (var(--maxstep))* 100% + calc(var(--step) * 35px / 2));
   height: 10px;
   background-color: #007ACC;
   border-radius: 5px;
   left: 0;
   top: 0;
}
.step{
   display: flex;
   justify-content: center;
   align-items: center;
}
.step>p{
   position: absolute;
   bottom: -1rem;
   font-weight: bold;
   font-size: 1.2em;
}
.circle{
   z-index: 2;
   /* --step: 0;           <
   --maxstep: 10;          <-défini dans twig*/
   --size: 35px;
   width: var(--size);
   height: var(--size);
   background: #007ACC;
   background-size: 10000%;
   border-radius: 50%;
   background-position: calc(100%/(var(--maxstep) - 1) * var(--step));
   cursor: pointer;
   text-decoration: none;
   font-size: 2em;
   color: var(--text-color);
   text-align: center;
   opacity: 1;
}
.hidden{
   background: var(--primary-color);
   pointer-events: none;
}