parameters:
    paths:
        - ajax
        - inc
    level: 0
    ignoreErrors:
        - messages:
            - '#Variable \$CFG_GLPI might not be defined.#'
            - '#Variable \$DB might not be defined.#'
            - '#Variable \$_UREQUEST might not be defined.#'
            - '#Variable \$_UGET might not be defined.#'
            - '#Variable \$item might not be defined.#'
            - '#Constant GLPI_ROOT not found.#'
    checkGenericClassInNonGenericObjectType: false