<!DOCTYPE html>
<head>
    <title>{{"ITSM-NG - Authentication"|trans}}</title>
    <meta charset="utf-8"/>
    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <link rel="shortcut icon" href="/pics/favicon.ico" type="image/x-icon"/>
    {% for array in header_data %}
        {% for e in array %}
            {{e|raw}}
        {% endfor %}
    {% endfor %}
</head>
