<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="units/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
  <testsuites>
    <testsuite name="GLPI Test Suite">
      <directory>units</directory>
    </testsuite>
  </testsuites>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">../src</directory>
    </include>
    <exclude>
      <directory suffix=".php">../vendor</directory>
    </exclude>
  </coverage>
  <php>
    <env name="DB_DRIVER" value="pdo_mysql"/>
    <env name="APP_ENV" value="test"/>
  </php>
</phpunit>