<ol class='breadcrumb fs-6 m-0'>
    {% for item in items %}
    <li class='breadcrumb-item'>
        <a href='{{ item['href'] }}' id='breadcrumb-link-{{ loop.index }}' >{{ item['title'] }}</a>
        {% if not loop.last %}
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        {% endif %}
    </li>
    {% endfor %}
</ol>
