version: "3.5"

services:
  app:
    container_name: "app"
    image: "ghcr.io/minzords/${PHP_IMAGE:-githubactions-php}"
    environment:
      CODE_COVERAGE: "${CODE_COVERAGE:-false}"
    volumes: 
      - type: "bind"
        source: "${APPLICATION_ROOT}"
        target: "/var/itsm"
      - type: "bind"
        source: "${APP_CONTAINER_HOME}"
        target: "/home/itsm"
