{% from 'macros.twig' import button %}


<h3>{{'An unknown error happened.'|trans}}</h3> {# TODO : add to trans file#}
<form action="install.php?step=languages" method="post">
    {{button('submit', 'Retry'|trans)}}
</form>