</div>
{# <div class="progress" style={{"--step: #{step};"}}></div> #}

</div></div>
</body>
</html>
            {# {% if steps[loop.index0] == 'languages' %}
                <i class="fas fa-language"></i>
            {% elseif steps[loop.index0] == 'license' %}
                <i class="fas fa-file-contract"></i>
            {% elseif steps[loop.index0] == 'install' %}
                <i class="fas fa-edit"></i>
            {% endif %} #}