{% from 'macros.twig' import button %}
{% if created %}
    <p>{{"Database created<"|trans}}/p>
{% endif %}
<p>{{"OK - database was initialized"|trans}}</p> 
<form action="install.php?step=8" method="post">
    {{button('submit', 'Continue'|trans)}}
</form>