<div class="spinner">
    <i class="fas fa-spinner fa-pulse fa-10x" title="spinner"></i>
</div>  

<script>
    window.onload = function() {
        window.location.href = "install.php?step=7";
    }
</script>