<div class="text">
<h3>Installation or update of GLPI</h3>
    <p>Choose 'Install' for a completely new installation of GLPI.</p>
    <p> Select 'Upgrade' to update your version of GLPI from an earlier version.</p>
</div>
<div class="buttons">
    <form action="install.php?step=0" method="post">
        <button class="btn btn-primary btn-lg" type='submit' name='install' value="">Install</button>
    </form>
    <form action="install.php?step=0" method="post">
        <button class="btn btn-primary btn-lg" type='submit' name='update' value="">Upgrade</button>
    </form>
</div>