{% from 'macros.html.twig' import button %}
<textarea id='license' cols='85' rows='10' readonly='readonly'>
    {{license}}
</textarea><br>
<a target='_blank' href='http://www.gnu.org/licenses/old-licenses/gpl-2.0-translations.html'>Unofficial translations are also available</a>

<p>I have read and ACCEPT the terms of the license written above.</p>
<form action="install.php?step=install" method="post">
    {{button('submit', 'Continue')}}
</form>