{% from 'macros.html.twig' import button %}
<div id='license' cols='85' rows='10' readonly='readonly'>
    {{license}}
</div>
<form action="install.php?step=install" method="post">
    <input type="checkbox">
    <p>{{'I have read and ACCEPT the terms of the license written above.'|trans}}</p>
    {{button('submit', 'Continue'|trans)}}
</form>