<h2>The installation is finished</h2>
<p>Default logins / passwords are:</p>
<p>
    <ul>
        <li> itsm/itsm for the administrator account</li>
        <li>tech/tech for the technician account</li>
        <li>normal/normal for the normal account</li>
        <li>post-only/postonly for the postonly account</li>
    </ul>
</p>
<p>You can delete or modify these accounts as well as the initial data.</p>
<p class='center'>
    <a class='vsubmit' href='../index.php'>Use GLPI</a>
</p>