<div id="ChartBar">
    <canvas id="Barchart" aria-label="BarChart(Tickets by status)"></canvas>
</div>

<script>
$(document).ready(function() {
    function getLastSixMonths() {
        const months = [];
        const date = new Date();

        for (let i = 0; i < 6; i++) {
            months.push(date.toLocaleString('default', { month: 'long' }));
            date.setMonth(date.getMonth() - 1);
        }

        return months.reverse();
    }

    $.ajax({
        url: '{{ root_doc }}/ajax/ticketmonths.ajax.php',
        method: 'GET',
        dataType: 'json',
        success: function(ticketData) {
            const data = {
                labels: getLastSixMonths(),
                datasets: [{
                    label: 'New Tickets',
                    data: ticketData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                        y: {
                            min: 0,
                            max: Math.round(Math.max(...ticketData) * 1.1),
                            beginAtZero: true
                        }
                    }
                }
            };

            const ctx = document.getElementById('Barchart').getContext('2d');
            $.getScript('{{ root_doc }}/node_modules/chart.js/dist/chart.umd.js', function() {
                new Chart(ctx, config);
            });
        },
        error: function(xhr, status, error) {
            console.error('Erreur lors de la récupération des données des tickets:', status, error);
        }
    });
});
</script>
