<div id="parameter-selection-widget-modal" class="px-3">
    <div class="input-group my-3">
        <label for="title-widget-modal" class="input-group-text">{{"Title"|trans}} :
        </label>
        <input type="text "name="title" id="title-widget-modal" class="form-control"/>
    </div>
    <div class="input-group my-3">
        <label for="icon-widget-modal" class="input-group-text">{{"Icon"|trans}} :
        </label>
        <input type="text "name="icon" id="icon-widget-modal" class="form-control"/>
    </div>
</div>
