<div id="ChartLine">
    <canvas id="Linechart" aria-label="LineChart(Tickets by status)"></canvas>
</div>

<script>
$(document).ready(function() {
    function getLastSixMonths() {
        const months = [];
        const date = new Date();

        for (let i = 0; i < 6; i++) {
            months.push(date.toLocaleString('default', { month: 'long' }));
            date.setMonth(date.getMonth() - 1);
        }

        return months.reverse();
    }
    $.ajax({
        url: '{{ root_doc }}/ajax/ticketmonths.ajax.php',
        method: 'GET',
        dataType: 'json',
        success: function(ticketData) {
            const data = {
                labels: getLastSixMonths(),
                datasets: [{
                    label: 'New Tickets',
                    data: ticketData,
                    fill: false,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgb(54, 162, 235)',
                    tension: 0.1
                }]
            };

            const config = {
                type: 'line',
                data: data,
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                        y: {
                            min: 0,
                            max: Math.round(Math.max(...ticketData) * 1.1),
                            beginAtZero: true
                        }
                    }
                }
            };

            const ctx = document.getElementById('Linechart').getContext('2d');
            $.getScript('{{ root_doc }}/node_modules/chart.js/dist/chart.umd.js', function() {
                new Chart(ctx, config);
            });
        },
        error: function(xhr, status, error) {
            console.error('Erreur lors de la récupération des données des tickets:', status, error);
        }
    });
});
</script>
