name: IMAP Tests

on: [pull_request]

jobs:
  tests:
    name: Run IMAP tests
    runs-on: ubuntu-latest
    env:
      DB_DATABASE: test_db
      DB_USER: test
      DB_PASSWORD: test

    services:
      mariadb:
        image: mariadb:latest
        ports:
          - 3306:3306
        env:
          MYSQL_USER: ${{env.DB_USER}}
          MYSQL_PASSWORD: ${{env.DB_PASSWORD}}
          MYSQL_DATABASE: ${{env.DB_DATABASE}}
          MYSQL_ROOT_PASSWORD: ${{env.DB_PASSWORD}}

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv
          coverage: none

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Build and start Dovecot container
        run: |
          docker build -t itsm-tests-dovecot:local -f .github/actions/images/dovecot/Dockerfile .
          docker run -d --name dovecot -p 143:143 itsm-tests-dovecot:local

      - name: Map dovecot hostname to localhost
        run: echo "127.0.0.1 dovecot" | sudo tee -a /etc/hosts

      - name: Run composer install
        run: export NODE_OPTIONS=--openssl-legacy-provider && php bin/console dependencies install

      - name: Install ITSM-ng
        run: php bin/console itsmng:database:install --config-dir=${{ github.workspace }}/tests/config -H 127.0.0.1 -u $DB_USER -p $DB_PASSWORD -d $DB_DATABASE -n

      - name: Load IMAP fixtures
        run: |
          docker exec dovecot doveadm expunge -u testuser mailbox 'INBOX' all || true
          docker exec dovecot doveadm purge -u testuser || true
          for f in tests/emails-tests/*.eml; do
            docker exec -i --user testuser dovecot getmail_maildir /home/testuser/Maildir/ < "$f"
          done

      - name: Run IMAP tests
        run: vendor/bin/atoum -p 'php -d memory_limit=512M' --debug --force-terminal --use-dot-report --bootstrap-file tests/bootstrap.php --fail-if-skipped-methods --no-code-coverage --max-children-number 1 -d tests/imap
